@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4F4DF85B-C36C-401D-9169-3DB4FA58701D

npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken:"4F4DF85B-C36C-401D-9169-3DB4FA58701D"